<meta name="description" content="{{description}}">
<meta property="og:site_name" content="{{siteName}}">
<meta property="og:type" content="{{ogType}}">
<meta property="og:locale" content="{{locale}}">
{{alternateLocales}}
<meta property="og:title" content="{{title}}">
<meta property="og:description" content="{{description}}">
<meta property="og:url" content="{{url}}">
{{imageMeta}}
<meta name="twitter:card" content="{{twitterCard}}">
{{twitterSiteMeta}}
{{twitterCreatorMeta}}
<meta name="twitter:title" content="{{title}}">
<meta name="twitter:description" content="{{description}}">
{{twitterImageMeta}}
<link rel="canonical" href="{{url}}">
{{articleMeta}}
{{structuredData}}
